.profile-body {
    display: grid;
    grid-template-areas:
    "a a a"
    "b b d"
    "c c d";
    grid-template-rows: 270px 1fr 150px;
    grid-template-columns: 70% 0% 30%;
    font-family: 'Assistant', sans-serif;


}

.upper-profile {
    grid-area: a;
    background-image: url(https://i.stack.imgur.com/07hHM.jpg);
    height: 270px;
    width: auto;
    padding: 0%;
    margin: 0%;
    font-family: 'Assistant', sans-serif;
    display: flex;
}

.side-profile {
    grid-area: d;
    margin-left: 0.2em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-right: 0;
    border-left: 1px solid rgb(223, 223, 223);
}

.side-title {
    margin-top: 0;
    margin-left: 0.5em;
    font-size: 24px;
    color: rgb(100, 100, 100);
    font-family: 'Assistant', sans-serif;
}

.other-users-image {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 10px;
}

.other-users-list {
    list-style: none;
    margin: 0.5em;
    padding: 0;
}

.other-users-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding-bottom: 1em;
    padding-top: 0.3em;
    border-bottom:1px solid rgb(223, 223, 223);
}

.other-users-name {
    font-size: 18px;
    padding-left: 0;
}

.other-username {
    font-size: 12px;
}

.other-users-button {
    margin-left: auto;
    background-color:rgba(0, 0, 0, 0);
    border-color: #f50;
    border-style: solid;
    width: 8em;
    height: 2em;
    border-radius: 5px;
}

.profile-pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: 30px;
}

.username {
    height: 40px;
    width: 140px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-left: 30px;
    margin-top: 40px;
}

.profile-tabs {
    grid-area: b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    display: flex;
    list-style: none;
    border-bottom:1px solid rgb(223, 223, 223);
    padding-left: 20px;
}

.profile-tab-button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    font-size: 20px;
    color: rgb(100, 100, 100);
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.profile-tab-button:hover {
    border-bottom: 2px solid black;
}


.track-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0.5em;
    padding: 1em;
    padding-right: 0;
    border-bottom:1px solid rgb(223, 223, 223);
}


.track-name {
    flex-shrink: 0;
    margin-right: auto;
}

.track-controls {
    width: 36em;
    flex-shrink: 5;
    background-color:rgba(0, 0, 0, 0);

}

.unordered-playlists{
    margin-top: 2.5em;
}

.playlist-list {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    list-style: none;
    margin-top: 0.5em;
    padding-bottom: 8px;
    border-bottom:1px solid rgb(223, 223, 223);
    font-size: 25px;

}

.playlist-name {
    width: 7em;
}

.playlist-div {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 5.5em;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

.playlist-songname {
    font-size: 16px;
    padding-left: 0.2em;
    text-align: center;
}

.playlist-image {
    height: 1.7em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.like-button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    margin-left: 1em;
}

.edit-button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    margin-left: 1em;
}

.edit-button2 {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    margin-left: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.15em;
    color: rgb(223, 223, 223);
    height: 50px;
}

.edit-button2:hover {
    color:rgb(83, 83, 83);
}

.edit-buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 1em;
    height: 4em;
}

.edit-buttons {
    width: 7em;
    height: 1.7em;
    background-color: #f50;
    border-color: #f50;
    border-style: solid;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.edit-buttons2 {
    width: 7em;
    height: 1.7em;
    background-color: rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    border-style: solid;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.edit-buttons:hover {
    cursor: pointer;
}

.edit-buttons2:hover {
    cursor: pointer;
}

.fa-heart:hover {
    color: #f50;
}

.fa-sliders:hover {
    color: #f50;
}

.lower-profile {
    grid-area: c;
    justify-self: center;
}

.upload-button {
    background-color: #f50;
    border-color: #f50;
    border-style: solid;
    color: #fff;
    margin-top: 20px;
    width: 110px;
    height: 27px;
    border-radius: 5px;
}

.delete-button {
    margin-left: auto;
    padding-right: 1em;
}
