.login-form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

.login-input {
    margin: 3px;
}

.login-button {
    width: 60%;
    margin: 3px;

}
